@model RegisterViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/font/flaticon.css">
    <link rel="stylesheet" href="~/css/style.css">
    <script src="https://kit.fontawesome.com/f3c06c98be.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body id="register">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="img">
                    <img src="~/img/login-banner.png" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login">
                    <div class="content">
                        <h1>Register</h1>
                    </div>
                    <form method="post">
                        <div asp-validation-summary="ModelOnly"></div>
                        <div class="form-group">
                            <label for="username">FullName</label>
                            <input asp-for="@Model.FullName" type="text" class="form-control" id="username">
                            <span asp-validation-for="@Model.FullName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label for="username">Username</label>
                            <input asp-for="@Model.UserName" type="text" class="form-control" id="username">
                            <span asp-validation-for="@Model.UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="email">Email Address</label>
                            <input asp-for="@Model.Email" type="email" class="form-control" id="email">
                            <span asp-validation-for="@Model.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input asp-for="@Model.Password" type="password" class="form-control" id="password">
                            <span asp-validation-for="@Model.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="password">Confirm Password</label>
                            <input asp-for="@Model.ConfirmPassword" type="password" class="form-control" id="password">
                            <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" class="form-control" id="remember">
                            <label for="remember">Remember Me</label>
                            <button type="submit" class="login-btn">Log In</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="~/js/wow.min.js"></script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>

